:root {
    margin: 0;
    padding: 0;

    --primary-dark: #333333;
    --primary-light: #ededed;
    --secondary-light: #fefefe;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--primary-light);
    color: var(--primary-dark);

    background-image: url('images/serrano-arenas.jpg');
    background-repeat: no-repeat;
    background-size: fill;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    text-align: center;
    font-size: 28px;
}

#calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65vh;
    width: 45vh;
    background-color: var(--primary-light);
    border: 2px solid var(--primary-dark);
    border-radius: 10px;
}

.display-container {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
    font-size: 20px;
    background-color: var(--secondary-light);
    border: 1px solid var(--primary-dark);
    border-radius: 5px;
    width: 80%;
    margin: 20px;
    padding: 10px;
}

.btn-container {
    flex: 4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    width: 80%;
    height: 80%;
    margin: 20px;
}

#clear-btn,
#delete-btn {
    grid-column: span 2;
}

.btn {
    font-size: 20px;
    padding: 10px;
    background-color: var(--secondary-light);
    border: 1px solid var(--primary-dark);
    border-radius: 5px;
    transition: all .5s ease;
}
.btn:hover {
    background-color: var(--primary-dark);
    color: var(--secondary-light);
    transform: scale(1.1);
    cursor: pointer;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding: 5px 0 5px 0;

}

.github-img {
    height: 20px;
    margin-left: 10px;
}